* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Baloo Bhaijaan', cursive;
    /* margin: 20px; */
    background: rgba(51, 51, 51, 0.8);
    border: 2px solid rgba(2, 66, 16, 0.3); 
    border-radius: 10px;
  }
  .App {
    text-align: center;
  }
  main {
      /* padding: 5% 10%; */
  }
  .main-header {
    /* background-color: #222; */
    margin: 0 0 60px 0;
    height: 150px;
    color: rgba(236, 199, 30); 
    background-color: none;
    /* color: #f1380a;  */
  }
  
  .main-title {
    background-color: rgba(0, 0, 0,.6);
    /* margin: 0 auto; */
    /* border-radius: 10px; */
    padding: 5px 0;
  }
  .main-title {
    font-size: 1.5em;
  }
nav {
    margin: 0 auto;
  }
  nav ul { 
    display: flex;  
    justify-content: center;
    background-color: rgba(0, 0, 0,.6);
    
    /* border-radius: 10px; */
  }
  nav li { 
    list-style: none; 
    flex: 1; 
    font-size: 1.5em;
    color: #ecc71e; 
    padding: 10px 0;
  }
  
  .thoughts-container {
    padding: 2% 0;
    /* flex-direction: row; */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    /* width: 80vw; */
  }
  .thought-category {
      margin: 0 10px;
      background: rgba(255, 255, 255, 0.6);
      color: rgb(126, 69, 4);
      border-radius: 10px;
  }
  .thought {
    padding: 10px;
    background-color: #ecc71e;
    border: 1px solid  #333;
    box-shadow: 0 2px 3px 0 #333;
    /* min-width: 350px;*/
    margin: 10px; 
    border-radius: 10px;
    /* height: 250px; */
    /* flex: 1; */
  }
  .edit-thought, .create-thought, .create-category, .edit-category, .login {
    background: rgb(255, 255, 255, 0.6);
    color: rgb(126, 69, 4);
    border-radius: 10px;
}

  .force-url-wrap {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
button {
    font-family: 'Baloo Bhaijaan', cursive;
}
/* form styles */
input[type=text], input[type=email], input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 1.5em;
}

label {
    padding: 12px;
    display: inline-block;
    text-align: left;
    width: 50%;
    float: left;
    font-size: 1.5em;
}

input[type=submit] {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 1.5em;
}
button {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 1.0em;
    float: none;
    margin: 5px;
}
.login-button {
    padding: 12px 20px;
    float: right;
}
.login-button:after {
    content: "";
    display: table;
    clear: both;
    }

input[type=submit]:hover, button:hover {
    background-color: #000000;
    color: #ecc71e;
}

.form-container {
    /* margin: 0 10px; */
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    background: rgba(51, 51, 51, 0.8);
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* end form styles*/

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .main-header {
        margin: 0 0 20px 0;
    }
    .col-25, .col-75, input[type=submit], .login-button {
        width: 100%;
    }
    .login-button {
        margin: 5px 0;
    }   
    label {
        padding: 10px;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 10px 0;
        font-size: 1.5em;
    }
    ul li {
        font-size: 1em;
    }
}
@media screen and (max-width: 375px) {
    .main-title {
        font-size: 1.0em;
    }
    ul li {
        font-size: 0.75em;
    }
}